<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110206649050-9up1nh9p0njdrks8vsd7d8i2n0bomnb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110206649050-9up1nh9p0njdrks8vsd7d8i2n0bomnb7</string>
	<key>API_KEY</key>
	<string>AIzaSyBMp7udvfLR4bXPjiWLa6uEBHny9Cow2yo</string>
	<key>GCM_SENDER_ID</key>
	<string>110206649050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.davepope.Fitness-Challenge</string>
	<key>PROJECT_ID</key>
	<string>fitness-challenge-9c048</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-challenge-9c048.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110206649050:ios:dc78a094f626c7a0b3dbe3</string>
</dict>
</plist>